<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>PrimoVE</Name>
  <Author>University of Pittsburgh - based on work by Mark Sullivan, IDS Project</Author>
  <Version>10.0</Version>
  <Active>True</Active>
  <Type>Addon</Type>
  <Description>Performs a Title, OCLC#, ISBN, and ISSN Search in the Primo VE interface and allows API Patron Physical Item Requests.</Description>
  <Forms>
    <Form>FormRequest</Form>
  </Forms>
  <Permissions />
  <Settings>
    <Setting name="DebugMode" value="false" type="boolean">
      <Description>If checked, this addon operates in the Sandbox environment.</Description>
    </Setting>
    <Setting name="APIEndpoint" value="https://api-na.hosted.exlibrisgroup.com/almaws/v1/" type="string">
      <Description>Alma API endpoint address.</Description>
    </Setting>
    <Setting name="ProductionAPIKey" value="l8xxc66a4784cec04f6c8876085c0acd1429" type="string">
      <Description>The Production API key (must have Read/Write API permissions for /bibs endpoint)</Description>
    </Setting>
    <Setting name="SandboxAPIKey" value="l8xxea6287cb1e38481ea05fad302e4fb1f2" type="string">
      <Description>The Sandbox API key (must have Read/Write API permissions for /bibs endpoint)</Description>
    </Setting>
    <Setting name="SandboxBaseVEURL" value="https://pitt-psb.primo.exlibrisgroup.com" type="string">
      <Description>Defines the base of your Sandbox Primo VE URL.</Description>
    </Setting>
    <Setting name="ProductionBaseVEURL" value="https://pitt.primo.exlibrisgroup.com" type="string">
      <Description>Defines the base of your Primo VE URL. See the ReadMe for an example.</Description>
    </Setting>
    <Setting name="DatabaseName" value="01PITT_INST:SIMPLE" type="string">
      <Description>Defines the Database Name of your Primo VE URL. See the ReadMe for an example.</Description>
    </Setting>
    <Setting name="AgencyID" value="01PITT_INST" type="string">
      <Description>Alma institution code.</Description>
    </Setting>
    <Setting name="ApplicationProfileType" value="ULS_ILLIAD" type="string">
      <Description>The code of the Alma partner record which is the target of the NCIP message.</Description>
    </Setting>
    <Setting name="AlmaBaseURL" value="https://pitt.alma.exlibrisgroup.com/" type="string">
      <Description>This setting value is the address for the Alma Base URL.</Description>
    </Setting>
    <Setting name="PseudopatronCDS" value="2tdrsill0000000" type="string">
      <Description>Primary ID of pseudopatron used to place patron physical item requests.</Description>
    </Setting>
    <Setting name="PickupLocationLibrary" value="HILL" type="string">
      <Description>Alma Library code for patron physical item request destination.  Ensure that this location has a hold shelf.</Description>
    </Setting>
  </Settings>
  <Files>
    <File>PrimoVE.lua</File>
  </Files>
</Configuration>
